/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables for light and dark modes */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply the new font globally */
body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Poppins', sans-serif;
}

/* Additional styling */
.text {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .text {
    color: white;
  }
}

.font-cartoon {
  letter-spacing: 0.05em;
  font-family: 'Fredoka One';
  font-size: xx-large;
}

.footer {
  position: relative;
  width: 100%;
  background-color: rgba(71, 101, 107, 0.753);
  color: rgb(252, 252, 252);
}

.navbar {
  color: black;
  background-color: #93C5FD;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 84vh;
}

.text-container {
  text-align: start;
  padding: 0 10px;
}

.projects-pages-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}

.child {
  flex: 1;
}

@media (max-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

  }
}

@media (max-width: 1024px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.custom-shape-divider-bottom-1725737973 {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1725737973 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 225px;
}

.custom-shape-divider-bottom-1725737973 .shape-fill {
  fill: #78a8e0;
}

.custom-blue {
  background-color: #78a8e0;
  padding-bottom: 1.25rem;
}

@keyframes flash {
  0% {
    color: #ff0000;
  }

  25% {
    color: #00ff00;
  }

  50% {
    color: #0000ff;
  }

  75% {
    color: #ffff00;
  }

  100% {
    color: #ff00ff;
  }
}

.animate-flash {
  animation: flash 1.5s infinite;
}