@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.text {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .text {
    color: white;
  }
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  background-color: rgba(151, 140, 124, 0.753);
  color: rgb(252, 252, 252);
}

.navbar {
  color: rgb(252, 252, 252);
  background-color: rgba(151, 140, 124, 0.753);
}

.page-container {
  display: flex;
  justify-content: center;
  min-height: 83vh;
}

.text-container {
  text-align: start;
  max-width: 900px; /* Adjust this to control the width of the text */
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 10px;
}
