@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.text-primary {
  color: black;
}
.dark .text-primary {
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: grey; /* Adjust as needed */
  /* Additional styles */
  /* ... */
}

.navbar {
  background-color: grey;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust this as needed */
}

.text-container {
  text-align: center;
  max-width: 800px; /* Adjust this to control the width of the text */
  padding: 20px;
  margin: auto;
}
